<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<% include ../partials/nav.ejs %>
<div class = "container-fluid" id="convoList">
	<h2>My Convos</h2>
	  <p>These are the other users you're currently talking about TOPIC</p>
	  <table class="table table-hover">
	    <thead>
	      <tr>
	        <th>Users</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr class="clickable-row" data-href="/talk">
	        <td>appleGuy123</td>
	      </tr>
	      <tr class="clickable-row" data-href="/talk">
	        <td>num1eaglesfan</td>
	      </tr>
	      <tr class="clickable-row" data-href="/talk">
	        <td>fred22</td>
	      </tr>
	    </tbody>
	  </table>
</div>
</body>
</html>

<script type="text/javascript">
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>