<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>

</head>

<body>
<div class = "container-fluid">
  <div class = "Absolute-Center" id = "">
    <h1>Welcome to MapleChat!</h1>
    <h3>Topic-based conversations</h3>
    <button class="btn btn-default" type="submit">Sign Up</button>
    <button class="btn btn-default" type="submit">Login</button>
  </div>
</div>
</body>
</html>
