<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>

</head>

<body>
<div class="row">
	<div class = "container-fluid" id="homeDiv">
	    <h1>Welcome to MapleChat!</h1>
	    <h3>Topic-based conversations</h3>
	</div>
</div>

<div class="row" id="btnRow">
	<a href="/signup">
		<div class = "col-md-6" id="signupDiv">
			<h1>Sign Up</h1>
		</div>
	</a>

	<a href="/login">
		<div class = "col-md-6" id="loginDiv">
			<h1 id="loginText">Login</h1>
		</div>
	</a>
</div>

</body>
</html>


    <!-- <button class="btn btn-default" type="submit">Sign Up</button>
    <button class="btn btn-default" type="submit">Login</button> -->