<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<% include ../partials/nav.ejs %>

<div class = "row" id="topicCardDivNoResize">
	<div class = "" id = "viewInterests">
		<div id="interestSearchDiv">
		  <input type="text" name="test" id="searchBox" placeholder="Add a topic you're interested in!">
		</div>

		<div id="interestDiv">
		  Current Interests
		</div>
	</div>
</div>

  <a href="/">
  	<div class = "menuItem" id="logoutDiv">
  		<h1>Logout</h1>
	</div>
</a>
</body>
</html>