<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>

</head>

<body>
<div class = "container-fluid">
  <div class = "Absolute-Center" id = "">
    <h1>Menu</h1>
    <button class="btn btn-default" type="submit">View</button>
    <button class="btn btn-default" type="submit">New</button>
    <button class="btn btn-default" type="submit">Vet</button>
    <button class="btn btn-default" type="submit">Talk</button>
    <button class="btn btn-default" type="submit">Me</button>
  </div>
</div>
</body>
</html>