<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<a href="/view">
		<div class = "menuItem" id="menuViewItem">
			<h1>VIEW</h1>
		</div>
	</a>

	<a href="/new">
		<div class = "menuItem" id="menuNewItem">
			<h1>NEW</h1>
		</div>
	</a>

	<a href="/vet">
		<div class = "menuItem" id="menuVetItem">
			<h1>VET</h1>
		</div>
	</a>

	<a href="/topics">
		<div class = "menuItem" id="menuTalkItem">
			<h1>TALK</h1>
		</div>
	</a>

	<a href="/me">
		<div class = "menuItem" id="menuMeItem">
			<h1>ME</h1>
		</div>
	</a>

</body>

<!--<button class="btn btn-default" type="submit">View</button>
    <button class="btn btn-default" type="submit">New</button>
    <button class="btn btn-default" type="submit">Vet</button>
    <button class="btn btn-default" type="submit">Talk</button>
    <button class="btn btn-default" type="submit">Me</button> -->
</html>