<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
<% include ../partials/nav.ejs %>
<div class = "row" id="topicCardDivNoResize">
  <div class = "" id = "viewAddition">
  	<div id="addTopicDiv">
  		<input id="newTopicText" placeholder="Type the topic you want to talk about"> </input>
  	</div>
  </div>
</div>

  <a href="">
  	<div class = "menuItem" id="submitTopic">
  		<h1>Submit</h1>
	</div>
</a>
</body>
</html>