<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>

</head>

<body>
<div class = "container-fluid">
  <div class = "Absolute-Center" id = "">
    <h1>new</h1>
      <div class="form-group" id="newTopic">
	    <input class="form-control input-lg" id="inputlg" type="text" placeholder="Type the topic you want to talk about">
	  </div>
	  <br>
	<button class="btn btn-default" type="submit">Submit</button>
  </div>
</div>
</body>
</html>