<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>

</head>

<body>
<% include ../partials/nav.ejs %>
<div class = "container-fluid">
	<h2>My Topics</h2>
	  <p>These are the topics you're currently talking about</p>
	  <table class="table table-hover">
	    <thead>
	      <tr>
	        <th>Topic</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>USA water polo</td>
	      </tr>
	      <tr>
	        <td>Iphone 7 release</td>
	      </tr>
	      <tr>
	        <td>SMU Football</td>
	      </tr>
	    </tbody>
	  </table>
</div>
</body>
</html>