<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>

</head>

<body>
<% include ../partials/nav.ejs %>
<div class = "row" id="topicCardDiv">
  <div class = "container-fluid" id = "viewTopics">
    <h1 style="text-align:center;">View topics proposed by others</h1>
	<br>
  </div>
</div>

 <div class="row">
	<a href="">
		<div class = "col-md-6" id="topicAcceptDiv">
			<h1>Accept</h1>
		</div>
	</a>

	<a href="">
		<div class = "col-md-6" id="topicPassDiv">
			<h1>Pass</h1>
		</div>
	</a>
</div>

</body>
</html>