<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>

</head>

<body>
<% include ../partials/nav.ejs %>
<div class = "container-fluid">
  <div class = "Absolute-Center" id = "">
    <h1>view</h1>
    <div class="panel panel-default" id="topicCard">
	  <div class="panel-heading">
	    <h3 class="panel-title">User Rating 3/5</h3>
	  </div>
	  <div class="panel-body">
	    I want to talk about the USA olympic water polo team
	  </div>
	</div>
	<br>
	<button class="btn btn-default" type="submit">Accept</button>
    <button class="btn btn-default" type="submit">Pass</button>
  </div>
</div>
</body>
</html>