<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>

</head>

<body>
<div class = "container-fluid">
  <div class = "Absolute-Center" id = "">
    <h1>view</h1>
  </div>
</div>
</body>
</html>